input.button-primary, button.button-primary, a.button-primary{
float: right;
}
table.fixed {
    table-layout: auto;
}           
.widefat td {
    color: #555555;
    padding: 1em;
}                                          